<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zone.com.zadapter3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="zone.com.zadapter3kt.MainKTActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="zone.com.zadapter3kt.activity.RecyclerKTActivity"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.NineRecyclerKTActivity"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.ZRefreshKTActivity"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.ChangeLayoutNestRecyclerActivity"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.FullyRecyclerKTActivity"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.StickyKTActivity"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.DivderKTActivity"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.PartitionActivity"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.HexoLayoutKTActivity"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.LayoutKTActivity"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.RecyclerActivityAnimator"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.RecyclerActivityScroll"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.FastRecyclerActivity"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.OnClickRecyclerActivity"></activity>
        <activity android:name="zone.com.zadapter3kt.activity.LoadmoreKTActivity"></activity>
    </application>

</manifest>