<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zone.com.zadapter3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecyclerActivity"></activity>
        <activity android:name=".RecyclerLeftPaddingActivity"></activity>
        <activity android:name=".ZRefreshActivity"></activity>
        <activity android:name=".HeadFooterRecyclerActivity"></activity>
        <activity android:name=".DiffActivity"></activity>
        <activity android:name=".LayoutActivity"></activity>
        <activity android:name=".HexoLayoutActivity"></activity>
        <activity android:name=".FullyRecyclerActivity"></activity>
        <activity android:name=".NineRecyclerActivity"></activity>
        <activity android:name=".StickyActivity"></activity>
        <activity android:name=".Recycler2Activity"></activity>
    </application>

</manifest>