<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zone.com.zadapter3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecyclerActivity"></activity>
        <activity android:name=".Recycler2ZRefreshActivity"></activity>
        <activity android:name=".MuliRecyclerActivity"></activity>
        <activity android:name=".RecyclerDiffActivity"></activity>
        <activity android:name=".LayoutManagerActivity"></activity>
        <activity android:name=".NLayoutManagerActivity"></activity>
        <activity android:name=".FullyRecyclerActivity"></activity>
    </application>

</manifest>